@import-normalize;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

body {
  max-width: 1440px;
  background-color: #ebeef3;
  margin: 0 auto;
  font-family: 'Inter', sans-serif;
}

.app-error {
  width: 600px;
  height: 200px;
  margin-left: -300px;
  position: absolute;
  left: 50%;
  top: 30%;
  z-index: 3;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
}

.app-error-sign {
  width: 360px;
  position: absolute;
  top: 90px;
  left: 50%;
  margin-left: -180px;
}
