.single-article {
  width: 900px;
  height: 770px;
  background-color: #fff;
  margin: 20px auto;
  padding: 20px;
}

.single-article-header {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.single-article-user,
.single-article-body-wrapper,
.single-article-body-tags {
  display: flex;
}

.single-article-body-likes {
  margin-left: 10px;
  padding: 0;
  display: flex;
  gap: 5px;
  align-items: center;
}

.single-article-body-title {
  font-size: 20px;
  color: #2697ff;
}

.single-article-body {
  width: 600px;
}

.single-article-body-tags {
  gap: 10px;
  margin: 5px 0;
}

.single-article-body-description {
  font-size: 12px;
  overflow-wrap: break-word;
  line-height: 20px;
}

.single-article-user-username {
  font-weight: 500;
  font-size: 18px;
}

.single-article-user-date {
  color: #a0a0a0;
  font-size: 12px;
}

.single-article-user-wrapper {
  gap: 10px;
  padding: 0 10px;
}

.single-article-no-tags {
  height: 32px;
}

.single-article-user-avatar {
  width: 100px;
}

.single-article-text {
  margin-top: 40px;
}
