.single-article {
  width: 900px;
  min-height: 770px;
  background-color: #fff;
  margin: 20px auto;
  padding: 20px;
}

.single-article-header {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.single-article-user,
.single-article-body-wrapper,
.single-article-body-tags {
  display: flex;
}

.single-article-user {
  height: 50px;
  align-items: center;
}

.single-article-body-likes {
  margin-left: 10px;
  padding: 0;
  display: flex;
  gap: 5px;
  align-items: center;
}

.single-article-body-favorited {
  cursor: pointer;
}

.single-article-body-title {
  font-size: 20px;
  color: #2697ff;
}

.single-article-body {
  width: 600px;
}

.single-article-body-tags {
  gap: 10px;
  margin: 5px 0;
}

.single-article-body-description {
  font-size: 12px;
  overflow-wrap: break-word;
  line-height: 20px;
  min-height: 40px;
  width: 600px;
}

.single-article-user-username {
  font-weight: 500;
  font-size: 18px;
}

.single-article-user-date {
  color: #a0a0a0;
  font-size: 12px;
}

.single-article-user-wrapper {
  gap: 10px;
  padding: 0 10px;
}

.single-article-no-tags {
  height: 32px;
}

.single-article-user-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.single-article-text {
  margin-top: 40px;
  overflow-wrap: break-word;
}

.error {
  width: 360px;
  position: absolute;
  top: 90px;
  left: 50%;
  margin-left: -180px;
}

.single-article-description-wrapper {
  display: flex;
  align-items: flex-end;
}

.delete-article-button,
.edit-article-button {
  height: 35px;
  width: 75px;
}

.delete-article-button {
  margin: 0 10px 0 auto;
}

.edit-article-button {
  border: 1px solid rgba(82, 196, 26, 1);
  color: rgba(82, 196, 26, 1);
}

.spin {
  position: absolute;
  left: 50%;
  margin-left: -50px;
  top: 40%;
}
