.articles-list {
  width: 940px;
  height: 800px;
  margin: 0 auto;
  padding: 20px 30px 0 30px;
}

.spin {
  position: absolute;
  left: 50%;
  margin-left: -50px;
  top: 40%;
}

.error {
  width: 360px;
  position: absolute;
  top: 90px;
  left: 50%;
  margin-left: -180px;
}

.pagination {
  text-align: center;
}
